body {
  font-family: 'Trebuchet MS', sans-serif;
  background: linear-gradient(135deg, #ffffff, #ffffff);
  color: #000000;
  margin: 0;
}

header {
  text-align: center;
  padding: 20px;
  background: linear-gradient(90deg, #f8c8c8, #fcdada);
}



.grid-artistas {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* 5 colunas iguais */
  gap: 10px;
  /* espaço entre as fotos */
  padding: 30px;
}


.artista img {
  width: 120px;
  /*largura */
  height: 120px;
  /*altura */
  object-fit: cover;
  /* mantém proporção sem distorcer */
  border-radius: 50%;
  /* deixa redondo */
  box-shadow: 0 2px 20px rgb(255, 50, 50);
  /*aplicar sombras em elementos */
  margin-bottom: 70px;

}

.artista p {
  text-align: center;
  margin: 25px;
  font-weight: bold;
  color: #000000;
}

.galeria img {
  width: 200px;
  height: auto;
  display: flex;
  margin: 5px;
}

.grid-artistas img {
  transition: transform 0.3s;
}

.grid-artistas img:hover {
  transform: scale(1.1);
  /* aumenta 10% ao passar o mouse */
}