.grid-livros {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 40px;
}

.livro {
  width: 150px;
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.livro img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}
